.marker{
    width: 150px;
    height: 80px
}

.currency_name{
    margin-top: 0;
    padding-top: 0;
}

.currency_code{
    margin-bottom: 0;
}

.rate_value{
    margin: 5px 5px 5px 5px;
}

.logo{
    font-size: x-large;
}

.menu_item{
    font-size: large;
}

.card{
    width: 10px;
}

.base_currency_info.row{
    padding: 2px;
}