#subscribe-top {
    margin-top: 20px;
}

#subscribe-list-header {
    margin-bottom: -2px;
}

#subscribe-list .subscribe-list-template .row div {
	margin: 5px 0;
}

#subscribe-list i {
    cursor: pointer;
}

#add-subscribe-modal .fa {
    width: 12px;
}

#add-subscribe-modal .btn-group,
#add-subscribe-modal .btn-group button {
    width: 100%;
    margin: 5px 0;
}

#add-subscribe-modal .btn-group .dropdown-menu {
    width: 100%;
    text-align: center;
}

#add-subscribe-modal .btn-group .dropdown-menu img {
    height: 25px;
}

#add-subscribe-modal .btn-group .dropdown-menu span {
    margin-left: 10px;
    line-height: 25px;
    font-size: 15px;
}

#add-subscribe-modal .switch-label {
    margin: 10px 0;
    line-height: 28px;
}

#add-subscribe-modal .bootstrap-switch {
    margin: 10px 0;
    float: right;
}
